// mixins

=inline
  display: inline

=right
  float: right

=right_cleared
  +right
  &:after
    content: ""
  &:after
    clear: both

=hidden
  display: none

=bg($bg) // why bg? because background is too long/hard to type ^^
  background: $bg

=padding($type)
  // TODO: if $type == "box" ...
  @if $type == "box"
    padding: 20px 2%
  @else
    padding: 5px 12px

=margin($type)
  // TODO: see =padding()
  margin: 20px 0

=rounded($amount)
  // FIXME: browser fallbacks
  border-radius: $amount

=rounded_bottom($amount)
  // FIXME: browser fallbacks
  border-bottom-left-radius: $amount
  border-bottom-right-radius: $amount

=vmargin($top, $bot: $top)
  margin-top: $top
  margin-bottom: $bot

=vpadding($top, $bot: $top)
  padding-top: $top
  padding-bottom: $bot

// resets

a
  text-decoration: none

p
  line-height: 1.2em
  margin: 0.1em 0 1.2em

*
  box-sizing: border-box

html, body
  margin: 0

// utils

.right
  float: right

.left
  float: left

.clear
  clear: both

// colors

$main: #A00
// $main: #271

// colors: computed
$main_hover: $main + #222

$light:  #EEE
$medium: #DDD
$dark:   #BBB
=bg_dark
  background: $dark
  // FIXME: all browsers gradient
  background: -webkit-linear-gradient(top, $dark -#111 0, $dark+#111 100%)

// style

body
  font-family: Georgia, sans-serif
  background: $medium
  margin: 0
  padding: 0

#container
  margin: 0 auto
  width: 100%


header > h1, #container > .content
  max-width: 1000px
  margin: 0 auto
  padding: 3px 12px
#container > .content
  +vpadding(15px, 20px)
  +rounded_bottom(20px)
header > h1
  +vpadding(6px, 5px)

a
  color: $main
  text-shadow: -1px 0px 1px #EEE
  font-weight: bold
  &:hover
    color: $main_hover
    text-shadow: 1px 1px 0px #FFF


#container > header
  width: 13em
  margin: 0 0 0 0
  +bg_dark
  width: 100%
  & > h1
    font-size: 1.2em
    span
      font-size: 0.8em
      display: block

#container > header, .content
  position: relative
#container > header
  box-shadow: 0 0 6px #555
  z-index: 3
.content
  background: $light
  z-index: 2
  box-shadow: 1px 1px 10px #AAA

nav
  margin: 0
  line-height: 45px
  a
    white-space: nowrap


=button
  +bg(#FFF)
  +padding("button")
  +rounded(10px)
  border: 1px solid #CCC
  margin-right: 1%
  font-weight: bold
  cursor: pointer
  &:hover
    +bg($light)
    border: 1px solid #999

.btn, nav a, input[type=submit]
  +button

input[type=submit]
  color: $main
  font-weight: bold
  &:hover
    color: $main_hover

// forms

input, select, textarea
  font-size: 1.1em
  padding: 4px 8px

input
  width: 250px

label, input[type=submit]
  display: block

input[type=submit]
  margin: 10px 0 0
  width: auto

.login_page form
  position: relative
  margin: 20px 0
  label
    line-height: 40px
  input[type=text], input[type=password]
    position: absolute
    left: 100px
  input[type=submit]
    margin-left: 284px


//  .content
//    background: rgba(120,120,120, 0.5)
//
//  #container
//    position: absolute
//    z-index: 2
//    color: #FFF
//
//  #bg
//    z-index: 1
//    position: absolute

#bg img
  width: 400px
  display: block
  padding: 5px

.logout
  font-size: 0.55em
  float: right
  input
    margin: 0
    background: none
    border: 0
    &:hover
      border: 0

.expand
  float: right

// pages


.item
  img
    width: 33%

.guide
  margin: 30px 0
  font-size: 1.1em
  img
    width: 100%
    margin: 10px 0 60px
    box-shadow: 0 3px 10px #999
  p
    margin: 0
    display: block
  .text, .num
    float: left
    +rounded(7px)
  .text
    max-width: 80%
    padding: 5px 10px 9px
    background: #FFF
    border: 1px solid #BBB
    box-shadow: 1px -2px 4px #EEE inset
    margin: 0 10px 0 0
  .num
    width: 36px
    margin: 0 5px 0 0
    padding: 5px 5px 8px 8px
    font-size: 1.2em





//  .guide.create_ami
//    img
//      width: 110%
//      position: relative
//      left: -4%
//      box-shadow: none

.guide_main
  .text p
    margin: 0 0 1em
  nav
    margin: 10px 0 10px
    a
      margin: 5px 0
      +vpadding(0)

.guide_main nav a
  display: block
  width: 360px


.mini
  font-size: 0.8em

.spaced
  margin: 0 0 15px 0


nav.bottom a.right
  padding-top: 0
  padding-bottom: 0

.cont_right, .cont_left
  float: left

.cont_right
  width: 29%
  img
    width: 100%
.cont_left
  width: 70%

.btn.buy
  white-space: nowrap

.small
  font-size: 0.9em
  p
    margin: 0

// author

img.makevoid
  margin: 20px 0 10px 10px


// other

#debug
  +hidden
  +bg(#FFF)
  +padding("box")
  +right
a.debug
  +right
  margin-top: 30px