:textile
  h1. Autore

  Ciao, sono Francesco Canessa e lavoro come programmatore, ho inventato questo metodo per aiutare degli amici studenti universitari che dovevano fare dei render 3d molto dettagliati per la loro tesi di laurea. Sono riusciti a farlo in un tempo ridotto, utilizzando i server di Amazon piu' potenti. 
  
  Visto il successo di questo metodo e notando che il processo e' abbastanza semplice e chiunque potrebbe utilizzarlo, ho deciso di scrivere questa guida, per rendere il metodo YouRender disponibile a tutti, facilmente.
  
  
-# Chi ha come business quello di affittare render farm mi odiera' un po :)