%a.btn{ href: "/" } < indietro

%img.makevoid.right{ src: "http://en.gravatar.com/userimage/6249832/bb7908b7633386a063b60327cc269b94.jpg?size=200" } 

:textile
  h1. Autore
  
  Ciao, sono Francesco Canessa e lavoro professionalmente come programmatore, ho inventato questo metodo per aiutare degli amici universitari che dovevano fare dei render 3d molto dettagliati per la loro tesi di laurea. Sono riusciti a farlo in pochissimo tempo, utilizzando i server di Amazon piu' potenti renderizzando ad altissima risoluzione. 
  
  Visto il successo di questo metodo e notando che il processo e' abbastanza semplice e chiunque potrebbe utilizzarlo, ho deciso di scrivere questa guida, per rendere il metodo YouRender disponibile a tutti, facilmente.
  

.contact
  %p
    %a.btn.buy{ href: buy_link } Acquista la guida! (10€)
  %p 
    %a.btn{ href: "mailto:makevoid@gmail.com" } Contatta l'autore
    per ricevere informazioni
  

  .small
    %p Francesco Canessa
    %p Software Development
    %p via Bandini 15, 50014 Fiesole (FI), Italy
    %p PIVA 05964990484

-# Chi ha come business quello di affittare render farm mi odiera' un po :)