%h1 Acquista la Guida YouRender

%form{ action: "/buy", method: "post" }
  %a.btn{ href: "" } Acquista ora (paypal)
  
%p Ad acquisto effettuato riceverai un link via email per accedere alla guida!

%p L'email a cui ti invieremo il link è quella associata al tuo account paypal. 