.cont_left
  %a.btn{ href: "/" } < indietro
  
  :textile
    h1. Esempi di render:

    Test effettuati nell'Aprile 2013

    I render sono "open source":http://www.blender.org/features-gallery/blender-open-projects/ e sotto licenza creative commons [ "sintel":http://www.sintel.org/ ]


    esempio di render:

    modello:

    http://www.blendswap.com/blends/view/67465

  / http://uploads.makevoid.com/modernes_wohnzimmer.blend

  :textile
    istanza: c1.medium
    software: blender
    sistema operativo: windows
    
    
.cont_right
  = partial :photos
