:textile
  h1. Esempi di render:

  Test effettuati nell'Aprile 2013

  I render sono "open source":http://www.blender.org/features-gallery/blender-open-projects/ e sotto licenza creative commons [ "sintel":http://www.sintel.org/ ]


  esempio di render:

  modello:

  http://www.blendswap.com/blends/view/67465