-# if user && user.client?

%p Effettui render di modelli 3D? I tempi di rendering sono troppo lunghi?

/ Vorresti poter utilizzare il tuo computer mentre renderizzi? Vorresti lanciare multipli render contemporaneamente?

%p Non preoccuparti! C'e' YouRender!

.cont_left

  = redcloth :home_it

  -# h3. Cos'e' una Render Farm?
  -#
  -# E' uno o piu' computer remoti su cui lanciare dei render.
  -#
  -# h3. Come fare:
  -#
  -# Amazon e altri provider affittano dei computer, anche molto potenti, a consumo (orario)


  %nav
    %a.btn{ href: "/contents" } Contenuti della guida
    %a.btn{ href: "/author" } Autore
    %a.btn{ href: "/examples" } Esempi di render
    %a.btn{ href: "/guide" } Visualizza la guida


  / http://uploads.makevoid.com/modernes_wohnzimmer.blend

  :textile
    istanza: c1.medium
    software: blender
    sistema operativo: windows

  -# %p Compra la guida e 3 ore di assistenza - 100Euro


  
  %a.btn.buy{ href: buy_link } Acquista la guida! (10€)


.cont_right
  .spaced
    %a.btn.buy{ href: buy_link } Acquista la guida! (10€)

  - photos = Dir.glob("./public/img/*").reverse
  - photos.each do |photo|
    %img{ src: "/img/#{File.basename photo}" }
