a {
  text-decoration: none; }

p {
  line-height: 1.2em; }

* {
  box-sizing: border-box; }

body {
  font-family: Georgia, sans-serif;
  background: #eeeeee;
  margin: 0;
  padding: 0; }

#container {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px; }

a {
  color: #aa0000;
  text-shadow: -1px 0px 1px #eeeeee;
  font-weight: bold; }
  a:hover {
    color: #cc2222;
    text-shadow: 1px 1px 0px white; }

#container > header {
  width: 13em;
  border-radius: 10px;
  background: #eeeeee;
  margin: 10px 0 20px 0; }
  #container > header > h1 {
    margin: 0;
    font-size: 1.2em; }
    #container > header > h1 span {
      font-size: 0.8em;
      display: block; }

#container > nav {
  margin: 18px 0 10px;
  float: right; }

nav {
  margin: 10px 0 0 0;
  line-height: 32px; }
  nav a {
    white-space: nowrap; }

.guide_main nav a {
  display: block;
  width: 360px; }

nav.user {
  font-size: 0.7em; }

.btn, nav a, input[type=submit] {
  background: white;
  padding: 5px 12px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  margin-right: 1%;
  font-weight: bold;
  cursor: pointer; }
  .btn:hover, nav a:hover, input[type=submit]:hover {
    background: #eeeeee;
    border: 1px solid #999999; }

input[type=submit] {
  color: #aa0000;
  font-weight: bold; }
  input[type=submit]:hover {
    color: #cc2222; }

input, select, textarea {
  font-size: 1.1em;
  padding: 4px 8px; }

input {
  width: 250px; }

label, input[type=submit] {
  display: block; }

input[type=submit] {
  margin: 10px 0 0;
  width: auto; }

.login form {
  position: relative;
  margin: 20px 0; }
  .login form label {
    line-height: 40px; }
  .login form input[type=text], .login form input[type=password] {
    position: absolute;
    left: 100px; }
  .login form input[type=submit] {
    margin-left: 284px; }

#bg img {
  width: 400px;
  display: block;
  padding: 5px; }

.item img {
  width: 33%; }

.guide {
  margin: 30px 0;
  font-size: 1.1em; }
  .guide img {
    width: 100%;
    margin: 10px 0 60px;
    box-shadow: 0 3px 10px #999999; }
  .guide p {
    margin: 0;
    display: block; }
  .guide .text, .guide .num {
    float: left;
    border-radius: 7px; }
  .guide .text {
    max-width: 80%;
    padding: 5px 10px 9px;
    background: white;
    border: 1px solid #bbbbbb;
    box-shadow: 1px -2px 4px #eeeeee inset; }
  .guide .num {
    width: 36px;
    margin: 0 5px 0 0;
    padding: 5px 5px 8px 8px;
    font-size: 1.2em; }

.guide_main .text p {
  margin: 1em 0; }

.mini {
  font-size: 0.8em; }

.spaced {
  margin: 0 0 15px 0; }

.right {
  float: right; }

nav.bottom a.right {
  padding-top: 0;
  padding-bottom: 0; }

.cont_right, .cont_left {
  float: left; }

.cont_right {
  width: 29%; }
  .cont_right img {
    width: 100%; }

.cont_left {
  width: 70%; }

#debug {
  display: none;
  background: white;
  padding: 20px 2%;
  float: right; }

a.debug {
  margin: 20px 0;
  float: right; }
