a {
  text-decoration: none; }

p {
  line-height: 1.2em; }

body {
  font-family: Georgia, sans-serif;
  background: #eeeeee;
  margin: 0;
  padding: 0; }

#container {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px; }

a {
  color: #aa0000;
  text-shadow: -1px 0px 1px #eeeeee;
  font-weight: bold; }
  a:hover {
    color: #cc2222;
    text-shadow: 1px 1px 0px white; }

#container > header {
  padding: 5px 12px;
  width: 13em;
  border-radius: 10px;
  background: #eeeeee; }
  #container > header > h1 {
    margin: 0;
    font-size: 1.2em; }
    #container > header > h1 span {
      font-size: 0.8em;
      display: block; }

#container > nav {
  margin: 18px 0 10px; }

nav {
  margin: 10px 0 0 0;
  line-height: 32px; }

.btn {
  background: white;
  padding: 5px 12px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  margin-right: 1%;
  font-weight: bold;
  cursor: pointer; }
  .btn:hover {
    background: #eeeeee;
    border: 1px solid #999999; }

nav a {
  background: white;
  padding: 5px 12px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  margin-right: 1%;
  font-weight: bold;
  cursor: pointer; }
  nav a:hover {
    background: #eeeeee;
    border: 1px solid #999999; }

#bg img {
  width: 400px;
  display: block;
  padding: 5px; }

.item img {
  width: 33%; }

.guide img {
  width: 100%;
  margin: 50px 0 10px;
  box-shadow: 0 3px 10px #999999; }
.guide p {
  margin: 0; }

.guide.create_ami img {
  width: 110%;
  position: relative;
  left: -4%;
  box-shadow: none; }

.mini {
  font-size: 0.8em; }

#debug {
  display: none;
  background: white;
  padding: 20px 2%;
  float: right; }

a.debug {
  margin: 20px 0;
  float: right; }
