a {
  text-decoration: none; }

p {
  line-height: 1.2em;
  margin: 0.1em 0 1.2em; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

body {
  font-family: Georgia, sans-serif;
  background: #dddddd;
  margin: 0;
  padding: 0; }

#container {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 30px; }

header > h1, #container > .content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3px 12px; }

#container > .content {
  padding-top: 15px;
  padding-bottom: 30px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px; }

header > h1 {
  padding-top: 8px;
  padding-bottom: 7px; }

a {
  color: #aa0000;
  text-shadow: -1px 0px 1px #eeeeee;
  font-weight: bold; }
  a:hover {
    color: #cc2222;
    text-shadow: 1px 1px 0px white; }

#container > header {
  width: 13em;
  margin: 0 0 0 0;
  background: #bb2222;
  background: -webkit-linear-gradient(top, #dd4444 0, #990000 100%);
  width: 100%; }
  #container > header a, #container > header input[type=submit] {
    color: #eeeeee;
    background: none;
    text-shadow: 1px 2px 0 #333333; }
    #container > header a span, #container > header input[type=submit] span {
      text-shadow: 1px 1px 0 #111111; }
  #container > header > h1 {
    font-size: 1.2em; }
    #container > header > h1 span.you, #container > header > h1 span.render {
      font-size: 1.2em;
      font-family: Impact;
      letter-spacing: 0.07em; }
    #container > header > h1 span.you {
      background: #770000;
      background: -webkit-linear-gradient(top, #aa3333 0, #bb4444 20%, #660000 80%);
      padding: 2px 6px;
      border-radius: 9px;
      border: 1px solid #666666;
      border-top: 1px solid #aaaaaa;
      border-bottom: 1px solid #444444; }
    #container > header > h1 span.render {
      position: relative;
      left: -3px; }
    #container > header > h1 span.tagline {
      margin: 4px 0 0;
      display: block;
      font-size: 0.5em;
      font-family: Helvetica, Arial, Verdana;
      text-transform: uppercase; }

#container > header, .content {
  position: relative; }

#container > header {
  box-shadow: 0 0 6px #555555;
  z-index: 3; }

.content {
  background: #eeeeee;
  z-index: 2;
  box-shadow: 1px 1px 10px #aaaaaa; }

nav {
  margin: 0;
  line-height: 45px; }
  nav a {
    white-space: nowrap; }

.btn, nav a, input[type=submit] {
  background: white;
  padding: 5px 12px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  margin-right: 1%;
  font-weight: bold;
  cursor: pointer; }
  .btn:hover, nav a:hover, input[type=submit]:hover {
    background: #eeeeee;
    border: 1px solid #999999; }

input[type=submit] {
  color: #aa0000;
  font-weight: bold; }
  input[type=submit]:hover {
    color: #cc2222; }

h1 {
  font-size: 1.3em; }

input, select, textarea {
  font-size: 1.1em;
  padding: 4px 8px; }

input {
  width: 250px; }

label, input[type=submit] {
  display: block; }

input[type=submit] {
  margin: 10px 0 0;
  width: auto; }

.login_page form {
  position: relative;
  margin: 20px 0; }
  .login_page form label {
    line-height: 40px; }
  .login_page form input[type=text], .login_page form input[type=password] {
    position: absolute;
    left: 100px; }
  .login_page form input[type=submit] {
    margin-left: 284px; }

#bg img {
  width: 400px;
  display: block;
  padding: 5px; }

.logout {
  font-size: 0.55em;
  float: right; }
  .logout input {
    margin: 0;
    border: 0; }
    .logout input:hover {
      border: 0; }

.expand {
  float: right; }

.item img {
  width: 33%; }

.guide {
  margin: 30px 0;
  font-size: 1.1em; }
  .guide img {
    width: 100%;
    margin: 10px 0 60px;
    box-shadow: 0 3px 10px #999999; }
  .guide p {
    margin: 0;
    display: block; }
  .guide .text, .guide .num {
    float: left;
    border-radius: 7px; }
  .guide .text {
    max-width: 80%;
    padding: 5px 10px 9px;
    background: white;
    border: 1px solid #bbbbbb;
    box-shadow: 1px -2px 4px #eeeeee inset;
    margin: 0 10px 0 0; }
  .guide .num {
    width: 36px;
    margin: 0 5px 0 0;
    padding: 5px 5px 8px 8px;
    font-size: 1.2em; }

.guide_main .text p {
  margin: 0 0 1em; }
.guide_main nav {
  margin: 10px 0 10px; }
  .guide_main nav a {
    margin: 5px 0;
    padding-top: 0;
    padding-bottom: 0; }

.guide_main nav a {
  display: block;
  width: 360px; }

.guide_main nav h1 {
  font-size: 0.95em;
  margin: 0 0 0 13px; }

.guide_main nav .half {
  width: 130px;
  display: inline-block;
  text-align: center; }

.mini {
  font-size: 0.8em; }

.spaced {
  margin: 0 0 15px 0; }

nav.bottom a.right {
  padding-top: 0;
  padding-bottom: 0; }

.cont_right, .cont_left {
  float: left; }

.cont_right {
  width: 29%; }
  .cont_right img {
    width: 100%; }

.cont_left {
  width: 70%; }

.btn.buy {
  white-space: nowrap; }

.small {
  font-size: 0.9em; }
  .small p {
    margin: 0; }

img.makevoid {
  margin: 20px 0 10px 10px; }

#debug {
  display: none;
  background: white;
  padding: 20px 2%;
  float: right;
  border-radius: 8px;
  border: 1px solid #999999;
  box-shadow: 1px 1px 8px #999999;
  margin: -100px 8px 0 0; }

a.debug {
  float: right;
  margin-top: 40px; }
